# Commit info file, no need to push to repo
commitinfo

# Firebase Files, shouldn't be pushed to repo
public/
.firebaserc
firebase.json
.firebase/

# Keep out the junk files that vim creates
*.un~
*.html~

# Folder for scripts that help me maintain the website, scripts will be pushed to repo via scripts folder
helperscripts/
