# Commit info file, no need to push to repo
./commitinfo

# Firebase Files, shouldn't be pushed to repo
public/
./.firebaserc
./firebase.json

# Keep out the junk files that vim creates
*.un~
*.html~
