body {
	background-color: #0c4aad;
}

h1 {
	font-family: 'Aldrich';
}

h2 {
	font-family: 'Aldrich';
}

h3 {
	font-family: 'Aldrich';
}

h4 {
	font-family: 'Aldrich';
}

h5 {
	font-family: 'Aldrich';
}

p {
	font-family: 'Aldrich';
}

a {
	font-family: 'Aldrich';
}